<h1>Listing ad_units</h1>

<table>
  <thead>
    <tr>
      <th>No api</th>
      <th>Approved</th>
      <th>Name</th>
      <th>Asset group</th>
      <th>Type</th>
      <th>Insight</th>
      <th>Screen</th>
      <th>Asset</th>
      <th>Pixel tracker</th>
      <th>Cta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ad_units.each do |ad_unit| %>
      <tr>
        <td><%= ad_unit.no_api %></td>
        <td><%= ad_unit.approved %></td>
        <td><%= ad_unit.name %></td>
        <td><%= ad_unit.asset_group %></td>
        <td><%= ad_unit.type %></td>
        <td><%= ad_unit.insight %></td>
        <td><%= ad_unit.screen %></td>
        <td><%= ad_unit.asset %></td>
        <td><%= ad_unit.pixel_tracker %></td>
        <td><%= ad_unit.cta %></td>
        <td><%= link_to 'Show', ad_unit %></td>
        <td><%= link_to 'Edit', edit_ad_unit_path(ad_unit) %></td>
        <td><%= link_to 'Destroy', ad_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad unit', new_ad_unit_path %>
