<p id="notice"><%= notice %></p>

<p>
  <strong>No api:</strong>
  <%= @ad_unit.no_api %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @ad_unit.approved %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ad_unit.name %>
</p>

<p>
  <strong>Asset group:</strong>
  <%= @ad_unit.asset_group %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ad_unit.type %>
</p>

<p>
  <strong>Insight:</strong>
  <%= @ad_unit.insight %>
</p>

<p>
  <strong>Screen:</strong>
  <%= @ad_unit.screen %>
</p>

<p>
  <strong>Asset:</strong>
  <%= @ad_unit.asset %>
</p>

<p>
  <strong>Pixel tracker:</strong>
  <%= @ad_unit.pixel_tracker %>
</p>

<p>
  <strong>Cta:</strong>
  <%= @ad_unit.cta %>
</p>

<%= link_to 'Edit', edit_ad_unit_path(@ad_unit) %> |
<%= link_to 'Back', ad_units_path %>
