<h1>Listing insertion_orders</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <th>Io number</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insertion_orders.each do |insertion_order| %>
      <tr>
        <td><%= insertion_order.brand %></td>
        <td><%= insertion_order.name %></td>
        <td><%= insertion_order.io_number %></td>
        <td><%= insertion_order.start_date %></td>
        <td><%= insertion_order.end_date %></td>
        <td><%= link_to 'Show', insertion_order %></td>
        <td><%= link_to 'Edit', edit_insertion_order_path(insertion_order) %></td>
        <td><%= link_to 'Destroy', insertion_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insertion order', new_insertion_order_path %>
