<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ctum.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @ctum.url %>
</p>

<p>
  <strong>New window:</strong>
  <%= @ctum.new_window %>
</p>

<p>
  <strong>Full screen:</strong>
  <%= @ctum.full_screen %>
</p>

<p>
  <strong>Ad unit:</strong>
  <%= @ctum.ad_unit %>
</p>

<p>
  <strong>Pixel width:</strong>
  <%= @ctum.pixel_width %>
</p>

<p>
  <strong>Pixel height:</strong>
  <%= @ctum.pixel_height %>
</p>

<p>
  <strong>Right offset:</strong>
  <%= @ctum.right_offset %>
</p>

<p>
  <strong>Top offset:</strong>
  <%= @ctum.top_offset %>
</p>

<%= link_to 'Edit', edit_ctum_path(@ctum) %> |
<%= link_to 'Back', cta_path %>
